<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <!-- Conexão PostGres
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/desafio</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
         -->
    <!-- Fim da conexão com PostGres -->
    <!-- Conexão com Oracle -->    
    	<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
  		<property name="hibernate.connection.username">root</property>
  		<property name="hibernate.connection.password">root</property>
  		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  		
  		
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
 	<!-- Fim da conexão com Oracle -->
 	<!-- Mapeando as classes -->
		<mapping class="ordem.model.OrdemServico" /> 
		<!-- Fim do Mapeamento das Classes -->    
    </session-factory>
</hibernate-configuration>